.topcontent_right {
    position: absolute;
    color: aliceblue;
    top: 250px;
    left: 50%;
  }
  
  .topcontent_left{
    top: 300px;
    right: 50%;
  }
  
  h1 {
    font-size: 50px;
    margin: 0;
  }
  
  .weatherValue {
    color: orangered;
  }
  
